/* *{
    background-color: #171a1f;
}
/* Container 7 */



/* Header Login */
.container-header {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 1920px; 
    height: 120px; 
    background: #1E2128FF; /* neutral-800 */
    border-radius: 0px; 
    border-width: 3px; 
    border-color: #DD980DFF; /* primary-500 */
    border-style: solid;
    }
    /* Image header */
.image-header {
    position: fixed; 
    top: 10px; 
    left: 641px; 
    width: 100px; 
    height: 99px; 
    border-radius: 0px; 
    }
.text-header {
        position: fixed; 
        margin: 0;
        top: 18px; 
        left: 781px; 
        font-family: ABeeZee; /* Body */
        font-size: 64px; 
        line-height: 84px; 
        font-weight: 400; 
        color: #DEE1E6FF; /* neutral-300 */
    }
/* Footer login */
.container-footer {
    position: absolute; 
    top: 1000px; 
    left: 0px; 
    width: 1920px; 
    height: 80px; 
    background: #1E2128FF; /* neutral-800 */
    border-radius: 0px; 
    }
/* Container Login */
.container-form {
    position: absolute; 
    top: 173px; 
    left: 1083px; 
    width: 637px; 
    height: 700px; 
    background: #1E2128FF; /* neutral-800 */
    border-radius: 8px; /* border-xl */
    border-width: 3px; 
    border-color: #ECC900FF; /* primary-500 */
    border-style: solid; 
    box-shadow: 0px 0px 2px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
    }
.container-text {
        position: absolute; 
        top: 145px; 
        left: 100px; 
        font-family: ABeeZee; /* Body */
        font-size: 64px; 
        line-height: 84px; 
        font-weight: 700; 
        color: #DEE1E6FF; /* neutral-300 */
    }
    /* Formulario Login 3 */
.textbox {
    position:absolute;
    opacity: 1; 
    }
.textbox input {
    width: 581px; 
    height: 52px; 
    padding-left: 20px; 
    padding-right: 20px; 
    font-family: ABeeZee; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 4px; /* border-m */
    border-width: 0px; 
    outline: none; 
    }
.textbox .label {
    font-family: ABeeZee; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    }
  /* hover */
.textbox input:hover {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
    }
  /* focused */
.textbox input:focused {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
    }
  /* disabled */
.textbox input:disabled {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
    }

/* Button Login */
.button-login {
    position: absolute; 
    top: 502px; 
    left: 28px; 
    width: 581px; 
    height: 52px; 
    padding: 0 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: ABeeZee; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #514500FF; /* primary-800 */
    background: #ECC900FF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 4px; /* border-m */
    }
  /* Hover */
.button:hover {
    color: #514500FF; /* primary-800 */
    background: #D1B200FF; /* primary-550 */
    }
  /* Pressed */
.button:hover:active {
    color: #514500FF; /* primary-800 */
    background: #B79C00FF; /* primary-600 */
    }


/* Image login */
.imagen-login {
    position: absolute; 
    top: 170px; 
    left: 200px; 
    width: 711px; 
    height: 706px; 
    border-radius: 0px; 
    } *




    /* Screen 1 */
*{
position: relative;
width: 1920px;
height: 1080px;

background: #171A1F;
box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

/* Container 6 */

box-sizing: border-box;

position: absolute;
width: 1920px;
height: 80px;
left: 0px;
top: 1000px;

background: #1E2128;
border: 2px solid #DD980D;
border-radius: 0px 0px 10px 10px;


/* Container 35 */

box-sizing: border-box;

position: absolute;
width: 373px;
height: 39px;
left: 42px;
top: 20px;

background: #1E2128;
border: 3px solid #FF934C;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.24), 0px 28.5px 59px rgba(23, 26, 31, 0.38);
border-radius: 0px 13px;


/* Contacto: vabe@gmail.com */

position: absolute;
width: 314px;
height: 36px;
left: 35px;
top: 2px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #9095A1;



/* Container 35 */

box-sizing: border-box;

position: absolute;
width: 373px;
height: 39px;
left: 785px;
top: 20px;

background: #1E2128;
border: 3px solid #FF8432;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.24), 0px 28.5px 59px rgba(23, 26, 31, 0.38);
border-radius: 0px 13px;


/* Desarrollado por: VABE */

position: absolute;
width: 267px;
height: 36px;
left: 67px;
top: 3px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #9095A1;



/* Container 35 */

box-sizing: border-box;

position: absolute;
width: 427px;
height: 39px;
left: 1459px;
top: 20px;

background: #1E2128;
border: 3px solid #FF8432;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.24), 0px 28.5px 59px rgba(23, 26, 31, 0.38);
border-radius: 0px 13px;


/* Aviso legal y Politica de Privacidad */

position: absolute;
width: 396px;
height: 36px;
left: 14px;
top: 3px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #9095A1;



/* Container 4 */

box-sizing: border-box;

position: absolute;
width: 1920px;
height: 120px;
left: 0px;
top: -0.5px;

background: #1E2128;
border: 3px solid #DD980D;


/* Image 2 */

position: absolute;
width: 100px;
height: 99px;
left: 641px;
top: 10px;

background: url(.png);


/* BAR LA CATRINA */

position: absolute;
width: 494px;
height: 84px;
left: 781px;
top: 18px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 84px;
/* identical to box height, or 131% */

color: #DEE1E6;



/* Container 7 */

box-sizing: border-box;

position: absolute;
width: 637px;
height: 700px;
right: 200px;
top: 173px;

background: #1E2128;
border: 3px solid #DD980D;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.24), 0px 0px 2px rgba(23, 26, 31, 0.19);
border-radius: 8px;


/* Button 4 */

position: absolute;
height: 52px;
left: 28px;
right: 28px;
top: 502px;

background: #DD980D;
border-radius: 4px;


/* Iniciar Sesión */

position: absolute;
width: 112px;
height: 28px;
left: calc(50% - 112px/2 + 0.5px);
top: calc(50% - 28px/2);

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #513805;



/* Textbox 3 */

position: absolute;
width: 581px;
height: 81px;
left: 28px;
top: 389px;



/* Textfield */

position: absolute;
left: 0px;
right: 1px;
top: 29px;
bottom: 1px;

background: #F3F4F6;
border-radius: 4px;


/* Ingresa minimo 8 caracteres */

position: absolute;
height: 28px;
left: 20px;
right: 320px;
top: calc(50% - 28px/2 + 0.5px);

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #BDC1CA;



/* Contraseña */

position: absolute;
height: 28px;
left: 0px;
right: 484px;
top: 0px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #A8ADB7;



/* Textbox 3 */

position: absolute;
height: 81px;
left: 28px;
right: 28px;
top: 292px;



/* Textfield */

position: absolute;
left: 0px;
right: 1px;
top: 29px;
bottom: 1px;

background: #F3F4F6;
border-radius: 4px;


/* Juan1234 */

position: absolute;
height: 28px;
left: 20px;
right: 476px;
top: calc(50% - 28px/2 + 0.5px);

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #BDC1CA;



/* Ususario */

position: absolute;
height: 28px;
left: 0px;
right: 507px;
top: 0px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #DEE1E6;



/* Iniciar Sesion */

position: absolute;
width: 396px;
height: 84px;
left: calc(50% - 396px/2 - 20.5px);
top: 145px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 84px;
/* identical to box height, or 131% */

color: #DEE1E6;



/* /* Screen 1 */.page {  position: absolute;   top: -1323px;   left: 706px;   width: 1920px;   height: 1080px;   background: #171A1FFF; /* neutral-900 */} */

position: absolute;
width: 297px;
height: 198px;
left: -271px;
top: 268px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */

color: #171A1F;



/* Image 1 */

position: absolute;
width: 711px;
height: 706px;
left: 200px;
top: 170px;

background: #D9D9D9;
