<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="img">Imagen:</label>
        <input type="file" name="img" required><br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>
        <label for="precio_u">Precio:</label>
        <input type="number" name="precio_u" step="0.5" required><br>
        <label for="fk_cat">Categria:</label>
        <input type="number" name="fk_cat" required><br>
       
        <input type="submit" value="Add Product">
    </form>
</body>
</html>
