<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Login</title>
</head>
<body>
    <header class="container-header">
        <img src="../static/img/logo.png" alt="" class="image-header">
        <p class="text-header">Bar la catrina</p>
    </header>
    <main>
        <dir>
            <img src="../static/img/logo.png" alt="logo" class="imagen-login">
        </dir>

        <form action="" class="container-form">
            <p class="container-text">Iniciar Sesión</p>
        <div class="textbox">
            <label for="usuario" class="textbox, label">Usuario</label>
            <input type="text" id="usuario" name="usuario">
        </div>
        
        </form>
    </main>
    <footer></footer>
</body>
</html>