.mi-nav {
    font-size: 22px;
}

.navbar-nav .nav-link{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    color:rgb(255, 149, 0);
    font-weight: bold;
}

/* .dropdown-item{
    font-weight: bold;
} */



/* Image login */
.imagen-login {
    height: 50%;
    width: 50%;
    } 

.imagen-card {
    height:300px;
    width: 300px;
} 
.imagen-logo_min {
    height: 7%;
    width: 7%;
} 



.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: rgb(255, 170, 0);
    border-color: rgb(255, 170, 0);
}

/* Asegúrate de que el dropdown no cause scroll horizontal */
.navbar .dropdown-menu {
    max-width: 100%;
    overflow-x: hidden;
}

/* Ajustar el dropdown para que se adapte a la pantalla */
.navbar .dropdown-menu {
    left: auto;
    right: 0;
    transform: translateX(0);
}

/* Asegurar que el dropdown se muestre correctamente */
.navbar .dropdown-menu {
    white-space: nowrap;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

@media print {
    .no-print {
        display: none;
    }
}