{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>
        {% block title %}
        Nueva Venta
        {% endblock %}
    </title>
{% endblock %}

{% block body %}
<body class="bg-dark text-white">
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div class="container mt-4">
    <button type="button" class="btn btn-warning mb-3" onclick="window.history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg> Regresar
    </button>
    <h2>Iniciar Venta</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('registrar_venta') }}" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="nombre_cliente" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre del Cliente" required>
        </div>
        <div class="mb-3">
            <label for="forma_pago" class="form-label">Forma de Pago</label>
            <select class="form-control" id="forma_pago" name="forma_pago" required>
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fk_mesa" class="form-label">Número de Mesa</label>
            <select class="form-control" id="fk_mesa" name="fk_mesa" required>
                {% for mesa in mesas %}
                    <option value="{{ mesa[0] }}">{{ mesa[1] }}</option>
                {% endfor %}
            </select>
        </div>
        
        <!-- Productos (dinámico con JavaScript para agregar más) -->
        <div id="productos">
            <div class="producto form-group row">
                <div class="col-md-3">
                    <label for="productos_0_categoria" class="form-label">Categoría</label>
                    <select class="form-control" id="productos_0_categoria" name="productos[0][categoria]" onchange="cargarProductos(this, 0)" required>
                        <option value="">Seleccione una categoría</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="productos_0_id_prod" class="form-label">Producto</label>
                    <select class="form-control" id="productos_0_id_prod" name="productos[0][id_prod]" onchange="cargarDetallesProducto(this, 0)" required>
                        <option value="">Seleccione un producto</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="productos_0_contenido" class="form-label">Contenido</label>
                    <select class="form-control" id="productos_0_contenido" name="productos[0][contenido]" required>
                        <option value="">Seleccione un contenido</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="productos_0_precio" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="productos_0_precio" name="productos[0][precio]" readonly>
                </div>
                <div class="col-md-2">
                    <label for="productos_0_cod_barras" class="form-label">Código de Barras</label>
                    <input type="text" class="form-control" id="productos_0_cod_barras" name="productos[0][cod_barras]" readonly>
                </div>
                <div class="col-md-3">
                    <label for="productos_0_nombre" class="form-label">Nombre del Producto</label>
                    <input type="text" class="form-control" id="productos_0_nombre" name="productos[0][nombre]" readonly>
                </div>
                <div class="col-md-2">
                    <label for="productos_0_cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="productos_0_cantidad" name="productos[0][cantidad]" oninput="actualizarSubtotal(0)" required>
                </div>
                <div class="col-md-2">
                    <label for="productos_0_subtotal" class="form-label">Subtotal</label>
                    <input type="text" class="form-control" id="productos_0_subtotal" name="productos[0][subtotal]" readonly>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button type="button" class="btn btn-danger" onclick="eliminarProducto(this)">Eliminar</button>
                </div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="total_venta" class="form-label">Total de la Venta</label>
            <input type="text" class="form-control" id="total_venta" name="total_venta" readonly>
        </div>
        
        <button type="button" class="btn btn-secondary" onclick="agregarProducto()">Agregar Producto</button>
        <button type="submit" class="btn btn-primary">Finalizar Venta</button>
    </form>

    <script>
        const productosData = {{ productos | tojson | safe }};
        
        function cargarProductos(select, index) {
            const categoriaId = select.value;
            const productosSelect = document.getElementById(`productos_${index}_id_prod`);
            productosSelect.innerHTML = '<option value="">Seleccione un producto</option>';
            
            productosData.forEach(producto => {
                if (producto[2] == categoriaId) {
                    productosSelect.innerHTML += `<option value="${producto[0]}">${producto[1]}</option>`;
                }
            });
        }
        
        function cargarDetallesProducto(select, index) {
            const productoId = select.value;
            const contenidoSelect = document.getElementById(`productos_${index}_contenido`);
            const precioInput = document.getElementById(`productos_${index}_precio`);
            const codBarrasInput = document.getElementById(`productos_${index}_cod_barras`);
            const nombreInput = document.getElementById(`productos_${index}_nombre`);
            
            contenidoSelect.innerHTML = '<option value="">Seleccione un contenido</option>';
            precioInput.value = '';
            codBarrasInput.value = '';
            nombreInput.value = '';
            
            productosData.forEach(producto => {
                if (producto[0] == productoId) {
                    if (producto[3]) {
                        contenidoSelect.innerHTML += `<option value="${producto[3]}">${producto[3]}</option>`;
                    }
                    precioInput.value = producto[4];
                    codBarrasInput.value = producto[5];
                    nombreInput.value = producto[1];
                }
            });
        }
        
        function actualizarSubtotal(index) {
            const cantidadInput = document.getElementById(`productos_${index}_cantidad`);
            const precioInput = document.getElementById(`productos_${index}_precio`);
            const subtotalInput = document.getElementById(`productos_${index}_subtotal`);
            
            const cantidad = parseFloat(cantidadInput.value) || 0;
            const precio = parseFloat(precioInput.value) || 0;
            const subtotal = cantidad * precio;
            
            subtotalInput.value = subtotal.toFixed(2);
            actualizarTotalVenta();
        }
        
        function actualizarTotalVenta() {
            const productosDiv = document.getElementById('productos');
            let totalVenta = 0;
            
            productosDiv.querySelectorAll('.producto').forEach((productoDiv, index) => {
                const subtotalInput = document.getElementById(`productos_${index}_subtotal`);
                const subtotal = parseFloat(subtotalInput.value) || 0;
                totalVenta += subtotal;
            });
            
            document.getElementById('total_venta').value = totalVenta.toFixed(2);
        }
        
        function agregarProducto() {
    var productosDiv = document.getElementById('productos');
    var index = productosDiv.children.length;
    var nuevoProducto = `
        <div class="producto form-group row">
            <div class="col-md-3">
                <label for="productos_${index}_categoria" class="form-label">Categoría</label>
                <select class="form-control" id="productos_${index}_categoria" name="productos[${index}][categoria]" onchange="cargarProductos(this, ${index})" required>
                    <option value="">Seleccione una categoría</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="productos_${index}_id_prod" class="form-label">Producto</label>
                <select class="form-control" id="productos_${index}_id_prod" name="productos[${index}][id_prod]" onchange="cargarDetallesProducto(this, ${index})" required>
                    <option value="">Seleccione un producto</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="productos_${index}_contenido" class="form-label">Contenido</label>
                <select class="form-control" id="productos_${index}_contenido" name="productos[${index}][contenido]" required>
                    <option value="">Seleccione un contenido</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="productos_${index}_precio" class="form-label">Precio</label>
                <input type="text" class="form-control" id="productos_${index}_precio" name="productos[${index}][precio]" readonly>
            </div>
            <div class="col-md-2">
                <label for="productos_${index}_cod_barras" class="form-label">Código de Barras</label>
                <input type="text" class="form-control" id="productos_${index}_cod_barras" name="productos[${index}][cod_barras]" readonly>
            </div>
            <div class="col-md-3">
                <label for="productos_${index}_nombre" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-control" id="productos_${index}_nombre" name="productos[${index}][nombre]" readonly>
            </div>
            <div class="col-md-2">
                <label for="productos_${index}_cantidad" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="productos_${index}_cantidad" name="productos[${index}][cantidad]" oninput="actualizarSubtotal(${index})" required>
            </div>
            <div class="col-md-2">
                <label for="productos_${index}_subtotal" class="form-label">Subtotal</label>
                <input type="text" class="form-control" id="productos_${index}_subtotal" name="productos[${index}][subtotal]" readonly>
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-danger" onclick="eliminarProducto(this)">Eliminar</button>
            </div>
        </div>`;
    productosDiv.insertAdjacentHTML('beforeend', nuevoProducto);
    actualizarBotonesEliminar();
}
        
        function eliminarProducto(button) {
            var productosDiv = document.getElementById('productos');
            if (productosDiv.children.length > 1) {
                button.parentElement.parentElement.remove();
                actualizarBotonesEliminar();
                actualizarTotalVenta();
            }
        }
        
        function actualizarBotonesEliminar() {
            var productosDiv = document.getElementById('productos');
            var botonesEliminar = productosDiv.querySelectorAll('.btn-danger');
            botonesEliminar.forEach(function(button) {
                button.disabled = productosDiv.children.length === 1;
            });
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            actualizarBotonesEliminar();
        });
    </script>

    </div>
    {% endblock %}

</body>
{% endblock %}
