<nav class="navbar bg-body-tertiary bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Bootstrap" class="imagen-logo_min">
            Bar la Catrina
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('ver_productos') }}">Ver Productos</a></li>
                        {% if session['role'] == 'Administrador' %}
                        <li><a class="dropdown-item" href="{{ url_for('registrar_producto') }}">Registrar Productos</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('ver_categorias') }}">Ver Categorías</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('registrar_categoria') }}">Registrar Categorías</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if session['role'] == 'Administrador' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('ver_usuarios') }}">Ver Usuarios</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('registrar_usuario') }}">Registrar Usuario</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ventas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('ver_ventas') }}">Ver Ventas</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('registrar_venta') }}">Registrar Venta</a></li>
                        {% if session['role'] == 'Administrador' %}
                        <li><a class="dropdown-item" href="{{ url_for('reporte_ventas') }}">Reporte de Ventas</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if session['role'] == 'Administrador' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mesas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('ver_mesas') }}">Ver Mesas</a></li>
                        {% if session['role'] == 'Administrador' %}
                        <li><a class="dropdown-item" href="{{ url_for('registrar_mesa') }}">Registrar Mesa</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ session['username'] }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
